@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Regular.woff2') format('woff2'), 
        url('../fonts/Gilroy-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Medium.woff2') format('woff2'), 
        url('../fonts/Gilroy-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Bold.woff2') format('woff2'), 
        url('../fonts/Gilroy-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-SemiBold.woff2') format('woff2'), 
        url('../fonts/Montserrat-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@mixin detailCont {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

@mixin detailLink {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    padding: 12px 32px;
    background: #3FCF5E;
    border: 1px solid rgba(110, 230, 144, 0.53);
    border-radius: 5px;
    text-decoration: none;
    font-family: Gilroy;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}

@mixin cardBuy() {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 46px;
    border-radius: 10px;
    border: 1px solid #BDBDBD;
    background-color: #FFFFFF;
}

@mixin sectionNameCont {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

@mixin sectionName() {
    margin-bottom: 0;
    margin-top: 0;
    margin-right: 30px;
    font-size: 18px;
    font-weight: 500;
}

@mixin cardName() {
    margin-bottom: 0;
    font-family: Gilroy;
    font-size: 24px;
    font-weight: 600;
}

@mixin cardText() {
    margin-bottom: 0;
    color: #828282;
}

@mixin primaryCard() {
    padding: 20px 20px 30px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@mixin primaryCards() {
    display: flex;
    justify-content: space-between;
}

@mixin cardButtonMore() {
    margin-right: 8px;
    font-size: 18px;
    font-weight: 500;
    color: #219653;
}

@mixin cardSelects() {
    display: flex;
    align-items: center;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

@mixin primaryMarker() {
    content: "";
    position: absolute;
    top: 12px;
    right: 12px;
    margin: 0;
    padding: 9px 16px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 600;
}

@mixin primaryRadio() {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
    margin-top: 25px;
}

@mixin radioLabel() {
    cursor: pointer;
    font-family: Gilroy;
    font-size: 18px;
    font-weight: 500;
    color: #4F4F4F;
    text-align: center;
    line-height: 1.5;
    display: inline-block;
    width: 68px;
    height: 29px;
    border: 1px solid transparent;
    border-radius: 5px;
}

@mixin radioChecked() {
    background: #FFFFFF;
    border: 1px solid #3ECF5E;
}

@mixin forLink() {
    text-decoration: none;
    line-height: 1;
}

@mixin headerFlexOrder() {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #E5E5E5;
    font-family: 'Gilroy', sans-serif;
}

.header {
    background: #FFFFFF;
    box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.05), inset 0px -5px 15px rgba(255, 255, 255, 0.44);
    padding-top: 30px;
    padding-bottom: 30px;
    &-wrapper {
        display: block;
        width: 1318px;
        margin-right: auto;
        margin-left: auto;
    }
    &-info {
        @include headerFlexOrder();
        margin-bottom: 40px;
        padding-bottom: 3px;
    }
    &-search {
        @include headerFlexOrder();
    }
}

.user-info {
    @include headerFlexOrder();
}

.call-us {
    @include forLink();
    display: flex;
    align-items: center;
    color: #000000;
    font-weight: 400;
    font-size: 18px;
    svg {
        margin-right: 11px;
    }
    span {
        align-self: flex-start;
    }
}

.shopping-card {
    @include forLink();
    display: inline-block;
    position: relative;
    margin-left: 63px;
}

.account {
    margin-left: 23px;
}

.buy {
    width: 20px;
    height: 20px;
    background-color: #06D10E;
    border-radius: 50%;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 12px;
    color: #FFFFFF;
    line-height: 1.6;
    text-align: center;
    margin: 0;
    position: absolute;
    top: -30%;
    right: -30%;
}

.nav-link {
    @include forLink();
    font-weight: 500;
    font-size: 18px;
    color: #4F4F4F;
    margin-right: 38px;
    svg {
        vertical-align: middle;
        margin-left: 3px;
    }
}

.nav-link:last-child {
    margin-right: 0;
}

.search {
    input {
        width: 345px;
        height: 54px;
        background-color: #F2F2F2;
        border: 1px solid #BDBDBD;
        border-radius: 10px;
        font-weight: 400;
        font-size: 18px;
        color: #828282;
        padding-left: 20px;
        padding-right: 45px;
    }
    input::placeholder {
        font-weight: 400;
        font-size: 18px;
        color: #828282;
    }
    label {
        position: relative;
        svg {
        content: "";
        position: absolute;
        right: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        }
    }
}

.section-wrapper {
    display: block;
    width: 1318px;
    margin-right: auto;
    margin-left: auto;
}

.section-catalog {
    width: 100%;
    margin-top: 75px;
    &-name {
        @include sectionName();
        margin-bottom: 25px;        
    }
    &-cards {
        @include primaryCards();
    }
    &-card {
        @include primaryCard();
        width: 427px;
        border: 1px solid #F2F2F2;
        border-radius: 15px;
        background-color: #FFFFFF;
        box-shadow: -8px -8px 15px #FFFFFF, 4px 4px 20px rgba(0, 0, 0, 0.05);
        &-photo {
            img {
                height: 211px;
                width: 387px;
                border-radius: 10px;
            }
        }
        &-name {
            @include cardName();
            margin-top: 15px;
        }
        &-text {
            @include cardText();
            margin-top: 4px;
            font-size: 14px;
            font-weight: 500;
        }
        &-detail-cont {
            @include detailCont();
        }
        &-detail-link {
            @include detailLink();
        }
    }
}

.section-mix {
    width: 100%;
    margin-top: 80px;
    &-name-cont {
        @include sectionNameCont();
    }
    &-name {
        @include sectionName();
    }
    &-selects {
        @include cardSelects();
    }
    &-button-more {
        @include cardButtonMore();
    }
    &-cards {
        @include primaryCards();
    }
    &-card {
        @include primaryCard();
        width: 315px;
        background-color: #F9F9F9;
        border: 1px solid #F2F2F2;
        border-radius: 20px;
        box-shadow: 8px 8px 15px 0px #0000000D, -8px -8px 15px 0px #FFFFFF;
        position: relative;
        &-new {
            @include primaryMarker;
            background-color: #333333;
            color: #FFFFFF;
            }
        &-photo {
            img {
                height: 227px;
                width: 275px;
                border-radius: 5px;
            }
        }
        &-name {
            @include cardName();
            margin-top: 22px;
            line-height: 1.3;
        }
        &-text {
            @include cardText();
            margin-top: 8px;
            font-size: 16px;
            font-weight: 400;
        }
        &-price {
            margin-bottom: 0;
            margin-top: 25px;
            font-size: 22px;
            font-weight: 700;
        }
    }
    &-radio-one {
        @include primaryRadio();
        input[type=radio] {
            display: none;
        }
        label {
            @include radioLabel();
        }
        input[type=radio][name=mix-pack-one]:checked + label {
            @include radioChecked();
        }
    }
    &-radio-two {
        @include primaryRadio();
        input[type=radio] {
            display: none;
        }
        label {
            @include radioLabel();
        }
        input[type=radio][name=mix-pack-two]:checked + label {
            @include radioChecked();
        }
    }
    &-radio-three {
        @include primaryRadio();
        input[type=radio] {
            display: none;
        }
        label {
            @include radioLabel();
        }
        input[type=radio][name=mix-pack-three]:checked + label {
            @include radioChecked();
        }
    }
    &-radio-four {
        @include primaryRadio();
        input[type=radio] {
            display: none;
        }
        label {
            @include radioLabel();
        }
        input[type=radio][name=mix-pack-four]:checked + label {
            @include radioChecked();
        }
    }
    &-card-detail-cont {
        @include detailCont();
    }
    &-card-detail-link {
        @include detailLink();
    }
    &-card-buy {
        @include cardBuy ();
    }
}

.section-bird {
    width: 100%;
    margin-top: 72px;
    &-name-cont {
        @include sectionNameCont();
    }
    &-name {
        @include sectionName();
    }
    &-selects {
        @include cardSelects();
    }
    &-button-more {
        @include cardButtonMore();
    }
    &-cards {
        @include primaryCards();
    }
    &-card {
        @include primaryCard();
        width: 315px;
        border: 1px solid #F2F2F2;
        border-radius: 20px;
        background-color: #F9F9F9;
        box-shadow: -8px -8px 20px #FFFFFF, 8px 8px 20px rgba(0, 0, 0, 0.05);
        &-photo {
            img {
                height: 227px;
                width: 275px;
                border-radius: 10px;
            }
        }
        &-name {
            @include cardName();
            margin-top: 22px;
        }
        &-text {
            @include cardText();
            margin-top: 12px;
            font-size: 16px;
            font-weight: 400;
        }
        &-detail-cont {
            @include detailCont();
        }
        &-detail-link {
            @include detailLink();
        }
    }
}

.section-grains {
    width: 100%;
    margin-top: 106px;
    &-name-cont {
        @include sectionNameCont();
    }
    &-name {
        @include sectionName();
    }
    &-selects {
        @include cardSelects();
    }
    &-button-more {
        @include cardButtonMore();
    }
    &-cards {
        @include primaryCards();
    }
    &-card {
        @include primaryCard();
        width: 315px;
        background-color: #F9F9F9;
        border: 1px solid #F2F2F2;
        border-radius: 20px;
        box-shadow: 8px 8px 15px 0px #0000000D, -8px -8px 15px 0px #FFFFFF;
        position: relative;
        &-sale {
            @include primaryMarker;
            background: #FFFFFF;
            border: 1px solid #3FCF5E;
            box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.05);
            color: #222222;
            }
        &-photo {
            img {
                height: 227px;
                width: 275px;
                border-radius: 5px;
            }
        }
        &-name {
            @include cardName();
            margin-top: 22px;
            line-height: 1.3;
        }
        &-text {
            @include cardText();
            margin-top: 6px;
            font-size: 16px;
            font-weight: 400;
        }
        &-price {
            margin-bottom: 0;
            margin-top: 28px;
            font-size: 22px;
            font-weight: 700;
        }
    }
    &-radio-one {
        @include primaryRadio();
        input[type=radio] {
            display: none;
        }
        label {
            @include radioLabel();
        }
        input[type=radio][name=grains-pack-one]:checked + label {
            @include radioChecked();
        }
    }
    &-radio-two {
        @include primaryRadio();
        input[type=radio] {
            display: none;
        }
        label {
            @include radioLabel();
        }
        input[type=radio][name=grains-pack-two]:checked + label {
            @include radioChecked();
        }
    }
    &-radio-three {
        @include primaryRadio();
        input[type=radio] {
            display: none;
        }
        label {
            @include radioLabel();
        }
        input[type=radio][name=grains-pack-three]:checked + label {
            @include radioChecked();
        }
    }
    &-radio-four {
        @include primaryRadio();
        input[type=radio] {
            display: none;
        }
        label {
            @include radioLabel();
        }
        input[type=radio][name=grains-pack-four]:checked + label {
            @include radioChecked();
        }
    }
    &-card-detail-cont {
        @include detailCont();
    }
    &-card-detail-link {
        @include detailLink();
    }
    &-card-buy {
        @include cardBuy ();
    }
}

.section-feeders {
    width: 100%;
    margin-top: 72px;
    &-name-cont {
        @include sectionNameCont();
    }
    &-name {
        @include sectionName();
    }
    &-selects {
        @include cardSelects();
    }
    &-button-more {
        @include cardButtonMore();
    }
    &-cards {
        @include primaryCards();
    }
    &-card {
        @include primaryCard();
        width: 315px;
        border: 1px solid #F2F2F2;
        border-radius: 20px;
        background-color: #F9F9F9;
        box-shadow: -8px -8px 20px #FFFFFF, 8px 8px 20px rgba(0, 0, 0, 0.05);
        &-photo {
            img {
                height: 227px;
                width: 275px;
                border-radius: 10px;
            }
        }
        &-name {
            @include cardName();
            margin-top: 22px;
            line-height: 1.3;
        }
        &-text {
            @include cardText();
            margin-top: 8px;
            font-size: 16px;
            font-weight: 400;
        }
        &-price {
            margin-bottom: 0;
            margin-top: 8px;
            font-size: 22px;
            font-weight: 700;
        }
        &-detail-cont {
            @include detailCont();
        }
        &-detail-link {
            @include detailLink();
        }
    }
}

.donation {
    width: 100%;
    margin-top: 152px;
    padding-top: 72px;
    padding-bottom: 89px;
    background-color: #3ECF5E;
    &-wrapper {
        display: block;
        width: 1318px;
        margin-right: auto;
        margin-left: auto;
    }
    &-form {
        display: flex;
        flex-direction: column;
        h2 {
            display: inline-block;
            margin-bottom: 0;
            margin-top: 0;
            font-weight: 600;
            font-size: 36px;
            color: #FFFFFF;
        }
    }
    &-radio {
        display: inline-block;
        margin-top: 50px;
        input {
            display: none;
        }
        label {
            display: inline-block;
            width: 25px;
            height: 25px;
            background-color: #FFFFFF;
            border-radius: 3px;
            cursor: pointer;
            margin-right: 7px;
            margin-left: 34px;
        }
        label:first-of-type {
            margin-left: 0;
        }
        input[type=radio][name=donation]:checked + label {
           background-image: url(../images/stroke-checkbox.svg);
           background-repeat: no-repeat;
           background-position: center;
           background-size: 60%;
        }
        &-text {
            display: inline-block;
            margin-top: 0;
            margin-bottom: 0;
            font-weight: 500;
            font-size: 18px;
            color: #FFFFFF;
            vertical-align: top;
            line-height: 1.5;
        }
    }
    &-amount {
        margin-top: 26px;
        input {
            border: 1px solid #FFFFFF;
            border-radius: 10px;
            background-color: #3ECF5E;
            width: 235px;
            padding: 15px;
            font-weight: 500;
            font-size: 18px;
            color: #7EFF9A;
            margin-right: 15px;
        }
        input::placeholder {
            font-weight: 500;
            font-size: 18px;
            color: #7EFF9A;
        }
        &-link {
            padding: 15px 40px;
            background-color: #FFFFFF;
            border-radius: 10px;
            text-decoration: none;
            font-weight: 600;
            font-size: 18px;
            color: #333333;
        }
    }
}

.select-gift {
    position: relative;
    &-wrapper {
        background-image: url(../images/donation-gift.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: absolute;
        width: 303px;
        height: 401px;
        right: 180px;
        bottom: -89px;
        padding-top: 97px;
        padding-left: 37px;
        h4 {
            font-weight: 600;
            font-size: 20px;
            color: #4F4F4F;
            margin-top: 0;
            margin-bottom: 0;
        }
    }
    &-radio {
        display: flex;
        margin-bottom: 14px;
        input {
            display: none;
        }
        label {
            display: inline-block;
            width: 20px;
            height: 20px;
            background-color: #FFFFFF;
            border-radius: 3px;
            border: 1px solid #3ECF5E;
            cursor: pointer;
            margin-right: 12px;
        }
        input[type=radio][name=gifts]:checked + label {
           background-image: url(../images/stroke-checkbox.svg);
           background-repeat: no-repeat;
           background-position: center;
           background-size: 60%;
        }
        &-text {
            font-weight: 500;
            font-size: 16px;
            color: #4F4F4F;
            margin-top: 0;
            margin-bottom: 0;
            line-height: 1.5;
        }
    }
    &-note {
        display: inline-block;
        margin-top: 0;
        margin-bottom: 0;
        font-weight: 400;
        font-size: 12px;
        color: #4F4F4F;
        vertical-align: top;
        line-height: 1.3;
    }
}

.gifts-radio {
    display: inline-block;
    margin-top: 35px;
    
}

.footer {
    background-color: #333333;
    padding-top: 100px;
    padding-bottom: 130px;
    &-wrapper {
        display: block;
        width: 1318px;
        margin-right: auto;
        margin-left: auto;
    }
    &-container {
        display: flex;
        justify-content: space-between;
    }
    &-action {
        font-weight: 500;
        font-size: 18px;
        a:not(:last-child) {
            margin-right: 45px;
        }
    }
    &-pay {        
        @include forLink();
        color: #FFFFFF;
    }
    &-delivery {
        @include forLink();
        color: #FFFFFF;
    }
    &-so—Åial {
        a:not(:last-child) {
            margin-right: 20px;
        }
    }
    &-tel {
        @include forLink();
        font-weight: 500;
        font-size: 18px;
        color: #FFFFFF;
        padding-top: 3px;
        svg {
            margin-right: 6px;
        }
        span {
            vertical-align: top;
        }
    }
}